@font-face {
	font-family: zelda;
	src: url(../fonts/Triforce.ttf);
}

body {
	padding-top: 5rem;
	background: url("../res/img/zelda.jpg") no-repeat center center fixed;
	background-size: cover;
}

body, html {
	cursor: url("../res/img/navi-cursor.png"), auto;
}

.main {
	margin-left: 30rem;
	margin-right: 30rem;
}

.title {
	margin-bottom: 5rem;
	font-size: 7rem;
	font-family: zelda;
	color: red;
	text-shadow: 0.3rem 0.3rem 0.25rem brown;
}

.main-character {
	margin-bottom: 5rem;
	padding: 2rem;
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 0.5rem;
	border: solid 1px gold;
}

.name {
	font-size: 10rem;
	text-shadow: 0.3rem 0.3rem 0.25rem brown;
	color: gold;
	font-family: zelda;
}

.subtitle {
	font-size: 3rem;
	color: gold;
	font-family: zelda;
	text-shadow: 0.3rem 0.3rem 0.25rem brown;
}

.text {
	position: relative;
	color: white;
	font-family: sans-serif;
}

.left {
	text-align: right;
}

.image {
	position: absolute;
}

.first-letter {
	font-family: zelda;
	font-size: 4rem;
	position: absolute;
	top: -3rem;
	left: 0rem;
}

#zelda-tp {
	top: -5rem;
	left: 5rem;
	width: 20rem;
}

#zelda-ww {
	left: 15rem;
	top: 10rem;
	width: 20rem;
}

#zelda-ss {
	left: -2rem;
	top: 10rem;
	width: 20rem;
}
