@font-face {
    font-family: zelda;
    src: url(../fonts/Triforce.ttf);
}

body {
  background: url("../resources/images/zelda.jpg") no-repeat center fixed;
  background-size: cover;
}

#title {
  margin-top: 5rem;
  text-align: center;
}

#title > img {
  width: 50rem;
}

#title > div {
  width: 50%;
  margin: auto;
}

#title > div > div {
  position: relative;
  font-family: zelda;
  top: -6rem;
  left: 13rem;
  font-size: 10rem;
  color: gold;
  text-shadow: 0.3rem 0.3rem 0.25rem brown;
  word-spacing: -3rem;
}
